html, body {
  width:100%;
  height:100%;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0 0 44px 0;
}

#map {
  width: 100%;
  height:100%;
  position: relative;
  background: #000;
}

.top {
  top: 10px;
}

.left {
  left: 10px;
}

.bottom {
  bottom: 69px;
}

.right {
  right: 10px;
}

.ui {
  width: 215px;
  height: auto;
  padding: 10px 15px 5px 15px;
  position: absolute;
  z-index: 999;
  background-color: rgb(255,255,255);
  text-align: center;
  border-radius: 4px;
}

.hamburger {
  width: auto;
  height: auto;
  padding: 2px 5px 0px 5px;
  position: absolute;
  z-index: 1000;
  background-color: rgb(255,255,255);
  text-align: center;
  border-radius: 4px;  
  cursor: pointer;
}

.logo {
  width: auto;
  height: auto;
  padding: 7px 7px 0px 7px;
  position: absolute;
  z-index: 1000;
  background-color: rgb(255,255,255);
  text-align: center;
  border-radius: 4px;  
}

.logoImg {
  width: 215px;
  height: 85px;
  padding-top: 3px;
}

.hideHamburger {
  display: block;
}

.hideMapLayers {
  display: none;
}

.hideLogo {
  display: none;
}


.selected {
  color: #333;
  border-color: #888;
  outline: 0;
  background-color: #ccc;
}

/* Generic margin and padding styles */
.marginTop10 {
  margin-top: 10px !important;
}

/* Infowindow Style Overrides */
div.cartodb-popup div.cartodb-popup-content {
    margin: 0 0 5px 0;
}

div.cartodb-popup h1,
div.cartodb-popup h2,
div.cartodb-popup h3,
div.cartodb-popup h4,
div.cartodb-popup h5,
div.cartodb-popup h6 {
  font-weight: 300;
  font-family: "Helvetica Neue", "Helvetica", Arial;
  color:#888888;
  text-transform: none;
}

div.cartodb-popup p {
  color:#222;
  font-weight: 400;
  font-family: "Helvetica Neue", "Helvetica", Arial;
  text-transform: none;
}

.cartodb-popup-header {
  margin-bottom: 5px;
}

/* CartoDb logo move to left */
div.cartodb-logo {
  left: 35px !important;
}


/* Infowindow hover style */
div.cartodb-tooltip-content h1,
div.cartodb-tooltip-content h2,
div.cartodb-tooltip-content h3,
div.cartodb-tooltip-content h4,
div.cartodb-tooltip-content h5,
div.cartodb-tooltip-content h6 {
  font-weight: 300;
  font-family: "Helvetica Neue", "Helvetica", Arial;
  color:#222222;
  text-transform: none;  
}

div.cartodb-tooltip-content p {
  color:#222222;
  font-weight: 400;
  font-family: "Helvetica Neue", "Helvetica", Arial;
  text-transform: none;
}

.true {
  font-weight: 300;
  font-family: "Helvetica Neue", "Helvetica", Arial;
  text-align: center;
  color: #fff;
  background-color: #39B000;
  border: 1px #aaa solid;
}

.false {
  font-weight: 300;
  font-family: "Helvetica Neue", "Helvetica", Arial;
  text-align: center;
  color: #222;
  background-color: #fff;
  border: 1px #aaa solid;
}


/*
* Legend CSS
*/

#legend {
  margin-bottom: 10px;
}

.legend-cloropleth ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.legend-cloropleth ul li {
  font-size: 12px;
  line-height: 10px;
}

.legend-cloropleth li.min {
  float: left;
  margin: 0 0 5px;
}

.legend-cloropleth li.one {
  float: left;
  margin: 0 0 5px;
}

.legend-cloropleth li.max {
  float: right;
  margin: 0 0 5px;
}


.legend-cloropleth li.breaks {
  clear: both;
  overflow: hidden;
  display: table;
  width: 100%;
  height: 16px;
}

.legend-cloropleth li.breaks .numbers {
  display: table-row;
  width:100%;
}

.legend-cloropleth li.breaks .quartile {
  display: table-cell;
  width:1%;
}

.legend-cloropleth li.breaks div {
  width: 10px;
  height: 16px;
}

.legend-cloropleth li.graph {
  clear: both;
  overflow: hidden;
  display: table;
  width: 100%;
  height: 22px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding;
  border: 1px solid #b3b3b3;
}

.legend-cloropleth li.graph.half {
  width: 22.22%;
}

.legend-cloropleth li.graph .colors {
  display: table-row;
}

.legend-cloropleth li.graph .quartile {
  display: table-cell;
}

.legend-cloropleth li.graph div {
  width: 10px;
  height: 22px;
}

/* Geocoder button override */
.leaflet-control-geocoder-icon {
  height: 38px;
  padding: 0px;
  margin-bottom: 0px;
}

.leaflet-control-geocoder-form input {
  padding: 0px;
  margin-bottom: 0px;
  border: 0px !important;

}

/* Modal css */
.modalDialog {
  position: fixed;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 250px;
  position: relative;
  margin: 10% auto;
  padding: 10px 20px;
  border-radius: 4px;
  background: #fff;
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { 
  color: #FFFFFF;
  background: #7E7E80; 
  text-decoration: none;
}

/**** Navbar CSS ****/
.navbar,
.navbar-spacer {
  display: block;
  width: 100%;
  height: 44px;
  background: #000;
  z-index: 99;
  border-bottom: 2px solid #eee; }
.navbar-spacer {
  display: none; }
.navbar > .container-nav {
  width: 100%; 
  max-width: 950px;
  position: relative;
  margin: 0 auto;
}
.navbar-list {
  list-style: none;
  margin-bottom: 0; }
.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0; }
.navbar-link {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  font-family: helvetica, sans-serif;
  margin-right: 35px;
  text-decoration: none;
  line-height: 44px;
  color: #969696;
  transition: color 0.4s ease 0s;
}
.navbar-link:hover {
  color: #ffffff;
  transition: color 0.4s ease 0s;  
}
.navbar-link.active {
  color: #ffffff; 
}


@media (min-width: 550px) {
  .hideHamburger {
    display: none;
  }

  .hideMapLayers {
    display: block;
  }

  .hideLogo {
    display: block;
  }

  .modalDialog > div {
    width: 400px;
  }
}

